
<div class="curricula">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-7 m-md-0 mx-auto my-3 text-center px-3">
                <div class="user text-center">
                    <img src="../../../assets/1.png"  alt="">
                    <div class="user-info">
                        <h5>أ.أحمد معوض</h5>
                        <span>مدرس اول اللغة العربية</span>
                    </div>
                </div>
            </div>
            <div class="col-md-9 ">
                <div class="curricula-bottom text-center">
                    <div class="wrap-curricula p-4">
                        <div class="row">
                            <p class="font-weight-bold">ماجستير لغة عربية
                                . صاحب كتاب تيسير النحو والتصريف لابن بدري عبداللطيف . ماجستير لغة عربية
                                . صاحب كتاب تيسير النحو والتصريف لابن بدري عبداللطيف .ماجستير لغة عربية
                                . صاحب كتاب تيسير النحو والتصريف لابن بدري عبداللطيف . ماجستير لغة عربية
                                . صاحب كتاب تيسير النحو والتصريف لابن بدري عبداللطيف .

                            </p>
                        </div>
                    </div>
                </div>
                <div class="curricula-top text-center">
                  <div class="wrap-curricula">
                      <div class="row">
                          <div class="col-md-3 col-6 px-2">
                              <a href="">
                                <div class="wrap-top">
                                  <img src="../../../assets/pin.png"  alt="">
                                  <h6>المناهج الدراسية</h6>
                              </div>
                              </a>
                          </div>
                          <div class="col-md-3 col-6 px-2">
                              <a href="" class="active">
                                <div class="wrap-top">
                                  <img src="../../../assets/class.png" alt="">
                                  <h6>الفصول الافتراضيه </h6>
                              </div>
                              </a>
                          </div>
                          <div class="col-md-3 col-6 px-2">
                              <a href="">
                                <div class="wrap-top">
                                  <img src="../../../assets/bank.png" alt="">
                                  <h6>بنك الاسئلة</h6>
                              </div>
                              </a>
                          </div>
                          <div class="col-md-3 col-6 px-2">
                              <a href="">
                                <div class="wrap-top">
                                  <img src="../../../assets/exam.png" alt="">
                                  <h6>الاختبارات</h6>
                              </div>
                              </a>
                          </div>
                      </div>
                  </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="activity text-center">
    <div class="container">
        <div class="wrap-activity">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 px-3 mb-3">
                    <div class="box-activity">
                        <div class="teacher">
                            <a href="">
                                <img src="../../../assets/profile-teacher.png" alt="">
                                <h6>أ.إبراهيم بدوي</h6>
                            </a>
                        </div>
                        <img src="../../../assets/ar.png" class="img-fluid" alt="">
                        <h5>الباب الاول</h5>
                        <p>
                            القيمة بالنقط :
                            <span> 20</span>
                        </p>
                        <a href="">
                            <i class="fab fa-youtube    "></i>
                            مشاهدة
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-3 mb-3">
                    <div class="box-activity">
                        <div class="teacher">
                            <a href="">
                                <img src="../../../assets/profile-teacher.png" alt="">
                                <h6>أ.إبراهيم بدوي</h6>
                            </a>
                        </div>
                        <img src="../../../assets/ar.png" class="img-fluid" alt="">
                        <h5>الباب الثاني</h5>
                        <p>
                            القيمة بالنقط :
                            <span> 20</span>
                        </p>
                        <a href="">
                            <i class="fas fa-book    "></i>
                            عرض وتحميل
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-3 mb-3">
                    <div class="box-activity">
                        <div class="teacher">
                            <a href="">
                                <img src="../../../assets/profile-teacher.png" alt="">
                                <h6>أ.إبراهيم بدوي</h6>
                            </a>
                        </div>
                        <img src="../../../assets/ar.png" class="img-fluid" alt="">
                        <h5>الباب الثالث</h5>
                        <p>
                            القيمة بالنقط :
                            <span> 20</span>
                        </p>
                        <a href="">
                            <i class="fab fa-youtube    "></i>
                            مشاهدة
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-3 mb-3">
                    <div class="box-activity">
                        <div class="teacher">
                            <a href="">
                                <img src="../../../assets/profile-teacher.png" alt="">
                                <h6>أ.إبراهيم بدوي</h6>
                            </a>
                        </div>
                        <img src="../../../assets/ar.png" class="img-fluid" alt="">
                        <h5>الباب الرابع</h5>
                        <p>
                            القيمة بالنقط :
                            <span> 20</span>
                        </p>
                        <a href="">
                            <i class="fas fa-book    "></i>
                            عرض وتحميل
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-3 mb-3">
                    <div class="box-activity">
                        <div class="teacher">
                            <a href="">
                                <img src="../../../assets/profile-teacher.png" alt="">
                                <h6>أ.إبراهيم بدوي</h6>
                            </a>
                        </div>
                        <img src="../../../assets/ar.png" class="img-fluid" alt="">
                        <h5>الباب الاول</h5>
                        <p>
                            القيمة بالنقط :
                            <span> 20</span>
                        </p>
                        <a href="">
                            <i class="fab fa-youtube    "></i>
                            مشاهدة
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-3 mb-3">
                    <div class="box-activity">
                        <div class="teacher">
                            <a href="">
                                <img src="../../../assets/profile-teacher.png" alt="">
                                <h6>أ.إبراهيم بدوي</h6>
                            </a>
                        </div>
                        <img src="../../../assets/ar.png" class="img-fluid" alt="">
                        <h5>الباب الثاني</h5>
                        <p>
                            القيمة بالنقط :
                            <span> 20</span>
                        </p>
                        <a href="">
                            <i class="fas fa-book    "></i>
                            عرض وتحميل
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-3 mb-3">
                    <div class="box-activity">
                        <div class="teacher">
                            <a href="">
                                <img src="../../../assets/profile-teacher.png" alt="">
                                <h6>أ.إبراهيم بدوي</h6>
                            </a>
                        </div>
                        <img src="../../../assets/ar.png" class="img-fluid" alt="">
                        <h5>الباب الثالث</h5>
                        <p>
                            القيمة بالنقط :
                            <span> 20</span>
                        </p>
                        <a href="">
                            <i class="fab fa-youtube    "></i>
                            مشاهدة
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-3 mb-3">
                    <div class="box-activity">
                        <div class="teacher">
                            <a href="">
                                <img src="../../../assets/profile-teacher.png" alt="">
                                <h6>أ.إبراهيم بدوي</h6>
                            </a>
                        </div>
                        <img src="../../../assets/ar.png" class="img-fluid" alt="">
                        <h5>الباب الرابع</h5>
                        <p>
                            القيمة بالنقط :
                            <span> 20</span>
                        </p>
                        <a href="">
                            <i class="fas fa-book    "></i>
                            عرض وتحميل
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-3 mb-3">
                    <div class="box-activity">
                        <div class="teacher">
                            <a href="">
                                <img src="../../../assets/profile-teacher.png" alt="">
                                <h6>أ.إبراهيم بدوي</h6>
                            </a>
                        </div>
                        <img src="../../../assets/ar.png" class="img-fluid" alt="">
                        <h5>الباب الاول</h5>
                        <p>
                            القيمة بالنقط :
                            <span> 20</span>
                        </p>
                        <a href="">
                            <i class="fab fa-youtube    "></i>
                            مشاهدة
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-3 mb-3">
                    <div class="box-activity">
                        <div class="teacher">
                            <a href="">
                                <img src="../../../assets/profile-teacher.png" alt="">
                                <h6>أ.إبراهيم بدوي</h6>
                            </a>
                        </div>
                        <img src="../../../assets/ar.png" class="img-fluid" alt="">
                        <h5>الباب الثاني</h5>
                        <p>
                            القيمة بالنقط :
                            <span> 20</span>
                        </p>
                        <a href="">
                            <i class="fas fa-book    "></i>
                            عرض وتحميل
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-3 mb-3">
                    <div class="box-activity">
                        <div class="teacher">
                            <a href="">
                                <img src="../../../assets/profile-teacher.png" alt="">
                                <h6>أ.إبراهيم بدوي</h6>
                            </a>
                        </div>
                        <img src="../../../assets/ar.png" class="img-fluid" alt="">
                        <h5>الباب الثالث</h5>
                        <p>
                            القيمة بالنقط :
                            <span> 20</span>
                        </p>
                        <a href="">
                            <i class="fab fa-youtube    "></i>
                            مشاهدة
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 px-3 mb-3">
                    <div class="box-activity">
                        <div class="teacher">
                            <a href="">
                                <img src="../../../assets/profile-teacher.png" alt="">
                                <h6>أ.إبراهيم بدوي</h6>
                            </a>
                        </div>
                        <img src="../../../assets/ar.png" class="img-fluid" alt="">
                        <h5>الباب الرابع</h5>
                        <p>
                            القيمة بالنقط :
                            <span> 20</span>
                        </p>
                        <a href="">
                            <i class="fas fa-book    "></i>
                            عرض وتحميل
                        </a>
                    </div>
                </div>
            </div>

            <button>المزيد</button>
        </div>
    </div>
</div>
