<app-menu-bar></app-menu-bar>

<div class="note text-center">
    <div class="container">
        <div class="info-note d-flex justify-content-between px-5 pt-5 pb-3">
            <h6 class="mt-5">
                اللغة العربية >
                <span>الباب االاول</span>
            </h6>
            <div class="teacher">
                <a routerLink='/teacher'>
                    <img src="../../../assets/profile-teacher.png" alt="">
                    <h6>أ.إبراهيم بدوي</h6>
                </a>
            </div>
        </div>

        <iframe class="mx-auto rounded" width="95%" height="450" src="https://www.youtube.com/embed/SKSchdx5EzM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <div class="links-note">
            <a routerLink='/student'>العودة</a>
        </div>
    </div>
</div>
