<div class="curricula mb-4">
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-7 m-md-0 mx-auto my-3 text-center px-3">
              <div class="user text-center">
                  <img src="../../../assets/profile-regest.png"  alt="">
                  <div class="user-info">
                      <h5>أحمد معوض</h5>
                      <span>الصف الثالث الثانوي</span>
                  </div>
              </div>
          </div>
          <div class="col-md-9 col-12">
              <div class="curricula-top text-center">
                  <div class="wrap-curricula">
                      <div class="row">
                          <div class="col-md-3 col-6 px-2">
                              <a routerLink='/student' routerLinkActive='active'>
                                <div class="wrap-top">
                                  <img src="../../../assets/pin.png"  alt="">
                                  <h6>المناهج الدراسية</h6>
                              </div>
                              </a>
                          </div>
                          <div class="col-md-3 col-6 px-2">
                              <a routerLink='/class' routerLinkActive='active'>
                                <div class="wrap-top ">
                                  <img src="../../../assets/class.png" alt="">
                                  <h6>الفصول الافتراضيه </h6>
                                </div>
                              </a>
                          </div>
                          <div class="col-md-3 col-6 px-2">
                              <a routerLink="/bank" routerLinkActive='active'>
                                <div class="wrap-top">
                                  <img src="../../../assets/bank.png" alt="">
                                  <h6>بنك الاسئلة</h6>
                              </div>
                              </a>
                          </div>
                          <div class="col-md-3 col-6 px-2">
                              <a routerLink='/exam' routerLinkActive='active'>
                                <div class="wrap-top">
                                  <img src="../../../assets/exam.png" alt="">
                                  <h6>الاختبارات</h6>
                              </div>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="curricula-bottom  text-center">
                  <div class="row">
                      <div class="col-lg-2 col-4 pt-4 px-2">
                          <div class="bord">
                              <img src="../../../assets/math.png" class="img-fluid" alt="">
                              <h6>رياضيات</h6>
                          </div>
                      </div>
                      <div class="col-lg-2 col-4 pt-4 px-2">
                          <div class="bord">
                              <img src="../../../assets/eng.png" class="img-fluid" alt="">
                              <h6>الانجليزية</h6>
                          </div>
                      </div>
                      <div class="col-lg-2 col-4 pt-4 px-2">
                          <div class="bord active">
                              <img src="../../../assets/ar.png" class="img-fluid" alt="">
                              <h6>العربية</h6>
                          </div>
                      </div>
                      <div class="col-lg-2 col-4 pt-4 px-2">
                          <div class="bord">
                              <img src="../../../assets/phy.png" class="img-fluid" alt="">
                              <h6>الفزياء</h6>
                          </div>
                      </div>
                      <div class="col-lg-2 col-4 pt-4 px-2">
                          <div class="bord">
                              <img src="../../../assets/pau.png" class="img-fluid" alt="">
                              <h6>الاحياء</h6>
                          </div>
                      </div>
                      <div class="col-lg-2 col-4 pt-4 px-2">
                          <div class="bord">
                              <img src="../../../assets/chmst.png" class="img-fluid" alt="">
                              <h6>كمياء</h6>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
