<header>
<div class="band">
    <div class="row justify-content-end w-100">
        <div class="col-3">
            <div class="wrap-img">
                <img src="../../../assets/tha.png" class="" alt="">
            </div>
        </div>
        <div class="col-3">
            <div class="wrap-img">
                <img src="../../../assets/second.png" class="" alt="">
            </div>
        </div>
        <div class="col-3">
            <div class="wrap-img">
                <img src="../../../assets/pri.png" class="" alt="">
            </div>
        </div>
    </div>
</div>
</header>
<section class="info text-center">
    <p class="px-3">الثانوية العامة مبقتش مشكلة<br>
        حلمك بيقربلك<br>
        ذاكر وحل تمارين مع اكبر مدرسين في العالم العربي لايف ، وأنت في بيتك، 
        ووفر وقت وزحمه وعدم تركيز ومتقبلش بأي مدرس علشان هو ده المتاح.
    </p>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 ">
                <div class="wrap-info pb-0">
                    <img src="../../../assets/user.png" alt="">
                    <h5>أكثر من 200 مدرس</h5>
                    <p>فى كافة المواد الدراسية</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="wrap-info pb-0">
                    <img src="../../../assets/technology.png" alt="">
                    <h5>أكثر من 1000 سؤال</h5>
                    <p> فى كافة المواد الدراسية</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="wrap-info pb-0">
                    <img src="../../../assets/student.png" alt="">
                    <h5>أكثر من 2000 طالب</h5>
                    <p>فى كافة المراحل الدراسية</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="wrap-info pb-0">
                    <img src="../../../assets/certificate.png" alt="">
                    <h5>مناهج دراسية</h5>
                    <p>فيديوهات فى كافة المواد</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about">
    <div class="join">
        <div class="container">
            <div class="row">
                <div class="col-md-5 offset-1">
                    <img src="../../../assets/scondry.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 pt-5 px-sm-0 pr-3">
                    <h5>لية تنضم لمنصة حليناها</h5>

                    <ul>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <span>
                                تقدر تختار مابين اكثر من 200 مدرس
                            </span>
                        </li>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <span>
                                تقدر تتفاعل مع المدرس من خلال الفصول الافتراضية
                            </span>
                        </li>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <span>
                                تقدر تختبر نفسك من خلال بنك الأسئلة
                            </span>
                        </li>
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <span>
                                تقدر تختبر اونلاين وتدرب على شكل الامتحان بصورة واقعيه
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="question mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pt-5 pr-4 mt-5">
                    <h5 class="mb-3">بنك اسئله واجوبه لكل المواد</h5>
                    <p>تتحدى وتتنافس مع أصدقائك<br>
                        تقدر تخوض مع أصدقائك تجربة تفاعلية مختلفة<br>
                        من خلال موسوعة متكاملة من المسابقات والتدريبات.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="../../../assets/91374.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="question mt-5">
        <div class="container">
            <div class="row">
                
                <div class="col-md-6 py-md-5 py-3 px-3">
                    <img src="../../../assets/PLS2VU1.png" class="img-fluid" alt="">
                </div>

                <div class="col-md-6  pt-md-5 pt-0 pr-4 pl-2 mt-md-5 mt-1">
                    <h5 class="mb-3">قاعات افتراضيه</h5>
                    <p>تفاعل مع مدرسينك <br>
                        أتكلم مع المدرس وشوفه وهو بيشرح لايف عشان لو فيه حاجه<br>
                        مش فاهمها او حابب تسأل عليها .. تقدر وبكل سهوله كأنه قاعد<br>
                        معاك فى نفس الغرفة.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="shar">
        <div class="container">
            <div class="row">
                <div class="col-12 p-5">
                    <img src="../../../assets/shar.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>

</section>

