<app-menu-bar></app-menu-bar>

<div class="note">
    <div class="container">
        <div class="info-note d-flex justify-content-between px-5 pt-5 pb-3">
            <h6 class="mt-5">
                اللغة العربية >
                <span>الباب االاول</span>
            </h6>
            <div class="teacher">
                <a href="">
                    <img src="../../../assets/profile-teacher.png" alt="">
                    <h6>أ.إبراهيم بدوي</h6>
                </a>
            </div>
        </div>
        <img src="../../../assets/screenshot-4.png" class="img-fluid" alt="note">
        <div class="links-note">
            <a href="">
                <i class="fas fa-book    "></i>
                تحميل الملزمة
            </a>
            <a routerLink='/student'>العودة</a>
        </div>
    </div>
</div>
