<nav>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-8 ">
                <p class="text-center">اهلاً بيك فى موقع حلينها للتعليم الالكتروني</p>
            </div>
            <div class="col-lg-2 col-4 pl-3">
              <div class="">
                <div class="text-left">
                    <i class="fab fa-facebook mx-2"></i>
                    <i class="fab fa-youtube mx-2"></i>
                    <i class="fab fa-snapchat mx-2"></i>
                    <i class="fab fa-twitter mx-2"></i>
                </div>
            </div>
            </div>
            <div class="col-lg-5 text-center mt-2 mt-lg-0">

                <div class="text-center">
                  <div class=" text-center">
                      <p class="mx-3 d-inline-block">ahmedeldeep12@gmail.com</p>
                      <i class="fas fa-mail-bulk    "></i>
                      <p class="mx-3 d-inline-block">01068317720</p>
                      <i class="fab fa-phoenix-framework"></i>
                  </div>
              </div>

            </div>
        </div>
    </div>
</nav>
<div class="nav-mobile">
  <div class="container">
    <p class="text-center">اهلاً بيك فى موقع حلينها للتعليم الالكتروني</p>
  </div>
</div>
<div class="info">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-6 px-4">
              <div class="row">
                <div class="col-lg-3 col-4">
                  <a routerLink=''>
                    <img src="../../../assets/logo.png" class="img-fluid logo" alt="">
                  </a>
                </div>
                <div class="col-8 ">
                  <div class="row">
                    <div class="col-lg-4 col-md-6">
                      <ul class="type">
                        <li>
                          <img src="../../../assets/profile-teacher.png" class="img-fluid profile" alt="">
                          <a routerLink="teacher" routerLinkActive="selection">معلمين</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-5 col-md-6 mt-2 mt-md-0">
                      <ul class="type mr-4 m-md-0">
                        <li>
                          <img src="../../../assets/profile-student.png" class="img-fluid profile" alt="">
                          <a routerLink="student" routerLinkActive="selection">طلاب</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="col-md-4 col-6">
                <div class="d-flex justify-content-center">
                    <ul class="user">
                        <li>
                            <img src="../../../assets/profile-student.png" class="img-fluid" alt="">
                            <a href="" class="name-user">احمد معوض احمد</a>
                        </li>
                        <ul class="more">
                            <li>
                                <a href="">اكتشف وذاكر</a>
                            </li>
                            <li>
                                <a href="">الملف الشخصي</a>
                            </li>
                            <li>
                                <a href="">نقاطي</a>
                            </li>
                            <li>
                                <a href="">تسجيل الخروج</a>
                            </li>
                        </ul>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>

