<app-menu-bar></app-menu-bar>

<div class="qusstion text-right">
    <div class="container">
        <div class="wrap-question">
            <div class="adress d-flex justify-content-between">
                <h5 class="mt-3">اختيار الباب الاول</h5>
                <div class="n-t">
                    <h5>أ.ابراهيم بدوي</h5>
                    <h6>
                        <i class="fas fa-clock ml-2 m-2    "></i>
                        <span>30</span>
                        دقيقة
                    </h6>
                </div>
            </div>
            <h5>اختر الاجابة الصحيحة </h5>
            <h6 class="mt-3 mb-2">س1 : عنوان السؤال الاول</h6>
            <div class="row">
                <div class="col-sm-6 px-3">
                    <div class="answers ">
                        <h6>الاجابة الاولي</h6>
                    </div>
                </div>
                <div class="col-sm-6 px-3">
                    <div class="answers">
                        <h6>الاجابة الثانية</h6>
                    </div>
                </div>
                <div class="col-sm-6 px-3">
                    <div class="answers">
                        <h6>الاجابة الثالثة</h6>
                    </div>
                </div>
                <div class="col-sm-6 px-3">
                    <div class="answers">
                        <h6>الاجابة الرابعة</h6>
                    </div>
                </div>
            </div>
            <h6 class="mt-3 mb-2">س2 : عنوان السؤال الثاني</h6>
            <div class="row">
                <div class="col-sm-6 px-3">
                    <div class="answers ">
                        <h6>الاجابة الاولي</h6>
                    </div>
                </div>
                <div class="col-sm-6 px-3">
                    <div class="answers">
                        <h6>الاجابة الثانية</h6>
                    </div>
                </div>
                <div class="col-sm-6 px-3">
                    <div class="answers ">
                        <h6>الاجابة الثالثة</h6>
                    </div>
                </div>
                <div class="col-sm-6 px-3">
                    <div class="answers">
                        <h6>الاجابة الرابعة</h6>
                    </div>
                </div>
            </div>
            <h6 class="mt-3 mb-2">س1 : عنوان السؤال الاول</h6>
            <div class="row">
                <div class="col-sm-6 px-3">
                    <div class="answers">
                        <h6>الاجابة الاولي</h6>
                    </div>
                </div>
                <div class="col-sm-6 px-3">
                    <div class="answers">
                        <h6>الاجابة الثانية</h6>
                    </div>
                </div>
                <div class="col-sm-6 px-3">
                    <div class="answers">
                        <h6>الاجابة الثالثة</h6>
                    </div>
                </div>
                <div class="col-sm-6 px-3">
                    <div class="answers">
                        <h6>الاجابة الرابعة</h6>
                    </div>
                </div>
            </div>
            <h6 class="mt-3 mb-2">س2 : عنوان السؤال الثاني</h6>
            <div class="row">
                <div class="col-sm-6 px-3">
                    <div class="answers ">
                        <h6>الاجابة الاولي</h6>
                    </div>
                </div>
                <div class="col-sm-6 px-3">
                    <div class="answers">
                        <h6>الاجابة الثانية</h6>
                    </div>
                </div>
                <div class="col-sm-6 px-3">
                    <div class="answers ">
                        <h6>الاجابة الثالثة</h6>
                    </div>
                </div>
                <div class="col-sm-6 px-3">
                    <div class="answers">
                        <h6>الاجابة الرابعة</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-left next">
            <a routerLink='/answers'>التالي</a>
        </div>
    </div>
</div>
