@import '../../../styles.scss';


.qusstion {

    .wrap-question {
        border: 2px solid #ddd;
        padding: 40px;
        border-radius: 10px;

        .answers {
            border: 1px solid #ddd;
            border-radius: 10px;
            text-align: center;
            margin-top: 10px;
            padding: 10px;
            cursor: pointer;
            transition: all .5s;
        }
    }
    .next {
        padding:10px 50px;
        margin-top: 25px;
        a {
            color: #fff;
            background-color: $mainColor;
            padding: 7px 50px;
            border-radius: 10px;

        }
    }
}
